:root {
--bg: #0f172a;
--text: white;
--card: #1e293b;
}

.light {
--bg: #f1f5f9;
--text: #0f172a;
--card: #ffffff;
}

body{
background: var(--bg);
color: var(--text);
}
body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
margin:0;
}

header{
text-align:center;
padding:20px;
background:#1e293b;
}

.container{
width:90%;
max-width:600px;
margin:auto;
}

.balance-card,
.chart-container,
li,
header{
background: var(--card);
}

.summary{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.income{
background:#065f46;
padding:15px;
width:45%;
border-radius:10px;
text-align:center;
}

.expense{
background:#7f1d1d;
padding:15px;
width:45%;
border-radius:10px;
text-align:center;
}

.transaction-form{
margin-top:20px;
display:flex;
flex-direction:column;
}

.transaction-form input{
margin:10px 0;
padding:10px;
border:none;
border-radius:5px;
}

.transaction-form button{
padding:10px;
background:#3b82f6;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.history{
margin-top:20px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#1e293b;
padding:10px;
margin:10px 0;
border-radius:5px;
display:flex;
justify-content:space-between;
}
.plus{
border-left: 5px solid #22c55e;
}

.minus{
border-left: 5px solid #ef4444;
}

li button{
background:red;
border:none;
color:white;
padding:5px 8px;
border-radius:5px;
cursor:pointer;
}

li{
align-items:center;
}
.chart-container{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
}